
/* Your CSS Code here. */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.holder {
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex-basis: calc(20% - 20px);
    background-color: #ccc;
    padding: 20px;
    margin: 10px;
}
